.container {
  width: 100%;
  height: auto;
  background: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 150px;
  padding: 130px 0px;
}

.info_text {
  max-width: 580px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.info_text span {
  font-family: var(--rubik);
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2.3px;
  color: #657078;
  will-change: transform, opacity;
}

.info_text h2 {
  font-size: 57px;
  line-height: 75px;
  text-transform: none;
  font-weight: 700;
  letter-spacing: -2px;
  color: #000000;
  font-family: var(--manrope);
  text-wrap: balance;
  text-align: left;
  margin-bottom: 10px;
  will-change: transform, opacity;
}
.info_text p {
  text-align: left;
  color: #657078;
  font-family: var(--rubik);
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 10px;
  will-change: transform, opacity;
}

.info_text .button_show_more {
  display: none;
  will-change: transform, opacity;
}

.image_container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  will-change: transform, opacity;
}

.text_container {
  position: absolute;
  left: -100px;
  will-change: transform, opacity;
}

@media (max-width: 1400px) {
  .container {
    flex-direction: column;
    row-gap: 20px;
    padding: 70px 0px;
  }

  .text_container {
    display: none;
  }

  .info_text {
    max-width: 90%;
    gap: 10px;
  }

  .image_container {
    width: 90%;
  }

  .image_container .image {
    width: 100%;
    object-position: top;
  }

  .text_container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
  }
}

@media (max-width: 700px) {
  .container {
    row-gap: 10px;
    padding: 40px 0px;
  }

  .info_text h2 {
    font-size: 35px;
    line-height: 1.4em;
    letter-spacing: -0.5px;
    margin-bottom: 0px;
  }

  .info_text p {
    font-size: 15px;
    line-height: 26px;
  }

  .image_container .image {
    object-fit: none;
    width: 100%;
    height: auto;
  }
}

@media (max-width: 500px) {
  .info_text p {
    margin: 0px;
    overflow-y: hidden;
    max-height: 80px;
    transition: max-height 1s ease-in-out;
  }
  .info_text p.show {
    max-height: 700px;
    transition: max-height 1s ease-in-out;
  }

  .info_text .button_show_more {
    display: flex;
    cursor: pointer;
    border: none;
    background-color: transparent;
    font-family: var(--rubik);
    font-size: 10px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--blood-orange);
    padding: 10px 0px;
  }
}
